/*************
  document stylings
**************/

body {
    /*height: 98%;*/
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif; /*Times, serif;*/
}
header {
    position: fixed;
    /*margin: 0.5em;*/
    left: 0.5em;
    top: 0.5em;
    right: 0.5em;
    /*padding: 0.5em;*/
    background-color: #AAAAAA;
    text-align: center;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}
p {
    line-height: 125%;
}

/*a:link {
    color: blue;
}*/

a:visited {
    color: #444444;
}

/*:hover {
  background-color: #EAEAEA;
  color: #444444;
}

a:active {
    color: blue;
}*/

/*************
  nav stylings
**************/

nav {
    position: fixed;
    left: 0.5em;
    top: 5em;
    right: 0.5em;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.05em;
    overflow: hidden;
    background-color: #888;
    font-size: 1.2em;
}
nav ul li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

nav li a:hover {
    background-color: #111;
}

ol li li { list-style-type: lower-alpha; }

/* deal with anchor links putting the named anchor under the fixed header */
/* solution found at http://stackoverflow.com/questions/4086107/html-positionfixed-page-header-and-in-page-anchors */
:target:before {
  content:"";
  display:block;
  height:6em; /* fixed header height*/
  margin:-6em 0 0; /* negative fixed header height */
}

.list-image {
    float: right;
    margin: 0 0 10px 10px;
}
/*************
  article stylings
**************/

.intro {
  padding-top: 8em;
  background-color: #999999;
  color: #F2F2F2;
}

article {
    margin: 0.5em;
    padding-top: 0.5em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
    background-color: #EEEEEE;
}
article.qfrm-websites {
    background-image: url("brownian.png");
    background-size: 1024px 512px;
    background-repeat: no-repeat;
    background-color: #DDDDDD;
}
article.python {
    background-color: #DADADA;
}
article.p5 {
    background-color: #E2E2E2;
}
